{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<tr class="sonata-ba-view-container">
    <th>
        <a href="{{ path('admin_librinfo_ecommerce_invoice_showFile', {id: invoice.id}) }}" target="_blank">{{ invoice.number}}</a>
    </th>
    <td>
        {{ invoice.createdAt|format_date }}
    </td>
    <td>
        {{ money.convertAndFormat(invoice.total) }}
    </td>
</tr>