{% extends 'BlastCoreBundle:Dashboard:dashboardBlock.html.twig' %}

{% block title %}
    {{ 'librinfo.label.dashboard_title'|trans }}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <h4>{{ 'librinfo.label.sales_amount'|trans }}</h4>
            <!-- <div class="chart-container" style="position: relative; height:40vh; width:80vw"> -->
            <canvas id="dashboard-ecommerce-sales-amount"></canvas>
            <!-- </div> -->
        </div>
        <div class="col-lg-4 col-md-6"></div>
        <div class="col-lg-4 col-md-6"></div>
    </div>
{% endblock content %}

{% block graphScripts %}
    <script>
        var dashboardEcommerceSalesChartDOM = $("#dashboard-ecommerce-sales-amount");

        var dashboardEcommerceSalesChartData = {
            "datasets": [
                {
                    "label": "{{ 'librinfo.label.sales_amount'|trans|raw }}",
                    "data": {{ salesAmountData|json_encode|raw }},
                    "fill": true,
                    "borderColor": "#3C8DBC",
                    "lineTension": 0.2
                }
            ]
        };

        var dashboardEcommerceSalesChart = new Chart(dashboardEcommerceSalesChartDOM, {
            type: 'line',
            data: dashboardEcommerceSalesChartData,
            options: {
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [
                        {
                            type: 'time',
                            display: true,
                            time: {
                                unit: 'month',
                                displayFormats: {
                                    month: 'MMM YYYY'
                                }
                            }
                        }
                    ],
                    yAxes: [
                        {
                            ticks: {
                                suggestedMin: 0
                            }
                        }
                    ]
                }
            }
        });
    </script>
{% endblock graphScripts %}
