{% if category == 'order' %}
    {% set colors = {'cancelled': 'orange', 'cart': 'gray', 'fulfilled': 'green', 'new': 'blue'} %}
    {% set icons = {'cancelled': 'ban', 'cart': 'shopping-cart', 'fulfilled': 'check', 'new': 'clock-o'} %}
{% elseif category == 'payment' %}
    {% set colors = {'awaiting_payment': 'blue', 'cart': 'gray', 'cancelled': 'orange', 'paid': 'green', 'partilally-paid': 'yellow',
                     'partilally-refunded': 'yellow', 'refunded': 'purple'} %}
    {% set icons = {'awaiting_payment': 'clock-o', 'cart': 'shopping-cart', 'cancelled': 'ban', 'paid': 'check', 'partilally-paid': 'check',
                    'partilally-refunded': 'reply-all', 'refunded': 'reply-all'} %}
{% elseif category == 'shipping' %}
    {% set colors = {'cancelled': 'orange', 'cart': 'gray', 'ready': 'blue', 'shipped': 'green'} %}
    {% set icons = {'cancelled': 'ban', 'cart': 'shopping-cart', 'ready': 'clock-o', 'shipped': 'truck'} %}
{% endif %}

<span class="label bg-{{ colors[value]|default('black')  }}">
    <i class="fa fa-{{ icons[value]|default('question') }}"></i>
    {{ ('librinfo.' ~ category ~ '_state.' ~ value)|trans }}
</span>
